.search-modal {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-white);
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0 2px 24px 0 rgb(172 172 172);
    border-radius: 20px;
    bottom: 31px;
    padding: 29px 35px;
    gap: 0 35px;
    z-index: 2;
    box-sizing: content-box;
}

#list {
    background-color: var(--primary-white);
    border-radius: 20px;
    border: 1px solid rgba(206, 211, 216, 1);
    padding: 14px 132px 14px 29px;
    font-size: 1.5rem;
}

.compare-box-element {
    width: 90%;
    margin: 50px auto;
    padding: 50px 68px;
    background-color: rgba(246, 250, 253, 1);
    border-radius: 24px;
    text-align: center;
}

.compare-box-container {
    display: flex;
    align-items: center;
    gap: 0 44px;
}

.compare-box-contianer-title,
.compare-box-title {
    color: var(--primary-black);
}

.compare-box {
    flex: 1;
}

.compare-box-contianer-title {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 54px;
}

.compare-box-title {
    font-size: 1.6rem;
    margin: 20px 0;
}

.comapre-box-description {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.9rem;
    font-weight: 300;
}

@media screen and (max-width: 1375px) {

    #list {
        padding: 14px 90px 14px 29px;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1080px) {

    #seeAllCitiesBtn {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 950px) {

    .compare-box-container {
        flex-direction: column;
        gap: 40px;
        height: auto;
        width: 60%;
        margin: 30px auto;
    }

    .compare-box-title {
        font-size: 2.4rem;
    }

    .comapre-box-description {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

@media screen and (max-width: 800px) {
    .search-modal {
        bottom: 43px;
    }

}

@media screen and (max-width: 750px) {
    
}

@media screen and (max-width: 650px) {
    .search-modal {
        flex-direction: column;
        height: fit-content;
        padding: 40px 43px;
        gap: 20px 0;
        bottom: 57px;
    }

    #list {
        font-size: 1.5rem;
        padding: 14px 30px 14px 29px;
    }

    .compare-box-element {
        padding: 75px 16px;
    }

    .compare-box-contianer-title {
        font-size: 1.8rem;
    }

    .compare-box-title {
        font-size: 1.6rem;
    }

    .comapre-box-description {
        font-size: 1.6rem;
    }

    .compare-box-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    .compare-box-container {
        gap: 0;
        margin: 0 auto;
    }


    .compare-box-element {
        padding: 39px 16px;
    }

    .compare-box-contianer-title {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    .compare-box-title {
        font-size: 1.2rem;
        margin: -10px 0 10px;
    }

    .comapre-box-description {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 17px;
    }

    .compare-box > svg {
        width: 48px;
    }
}

@media screen and (max-width: 340px) {
    .search-modal {
        width: auto;
    }
}
