.search-modal {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-white);
    width: 74%;
    height: 12vh;
    margin: 0 auto;
    box-shadow: 0 2px 24px 0 rgb(172 172 172);
    border-radius: 20px;
    bottom: 65px;
    padding: 0 43px;
    gap: 0 45px;
    z-index: 2;
}

.button-style {
    background-color: var(--secondary-blue);
    color: var(--primary-white);
    width: 18%;
    height: 54px;
    border-radius: 13px;
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

#list {
    background-color: var(--primary-white);
    border-radius: 20px;
    border: 1px solid rgba(206, 211, 216, 1);
    padding: 14px 132px 14px 29px;
    font-size: 1.5rem;
}

.compare-box-element {
    width: 90%;
    margin: 50px auto;
    padding: 75px 68px;
    background-color: rgba(246, 250, 253, 1);
    border-radius: 24px;
    text-align: center;
}

.compare-box-container {
    display: flex;
    height: 20vh;
    align-items: center;
    gap: 0 44px;
}

.title {
    color: var(--primary-black);
}

.compare-box {
    flex: 1;
}

.compare-box-contianer-title {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 0 54px;
}

.compare-box-title {
    font-size: 1.6rem;
    margin: 20px 0;
}

.comapre-box-description {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.9rem;
    font-weight: 300;
}