.footer,
.footer-social {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
    padding: 50px 40px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
}

.footer-item{
    flex: 1;
    padding: 0 0 0 112px;
}

.footer-item input {
    background-color: var(--primary-white);
    width: 65%;
    height: 40px;
    padding-left: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
}

::placeholder {
    color: rgba(206, 211, 216, 1);
}

.footer-item > * {
    margin: 27px 0;
}

.footer-item h5 {
    font-size: 2em;
    font-weight: 400;
}

.footer-item p {
    margin: auto;
    width: 100%;
    font-size: 1.1em;
    font-weight: 300;
}

.footer-text {
    line-height: 1.8;
    padding-right: 174px;
}

.footer-social svg {
    margin-right: 10px;
}


.bottom-banner {
    display: flex;
    background-color: black;
    height: 10vh;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 94px;
}

.bottom-banner,
.bottom-banner a {
    color: var(--transparent-text);
}

.bottom-banner ul li,
.bottom-banner-item > * {
    display: inline-block;
}

.bottom-banner ul li {
    margin: 0 30px;
    cursor: pointer;
}

.bottom-banner-item > * {
    margin: 0 15px;
}

@media screen and (max-width: 1000px){
    .footer {
        padding: 50px 80px;
    }

    .footer-item {
        padding: 0;
    }

    .footer-text {
        padding: 0;
    }

    .footer-item input {
        width: 89%;
    }
}

@media screen and (max-width: 950px) {
    .bottom-banner {
        height: auto;
        padding: 28px 52px;
    }

    .bottom-banner ul li {
        display: block;
        margin: 10px 30px;
    }
}

@media screen and (max-width: 700px){
    .footer-social-container {
        padding-left: 50px;
    }

    .footer {
        gap: 0px;
    }

}

@media screen and (max-width: 650px){
    .footer {
        flex-direction: column;
        padding: 50px 40px; 
    }

    .footer-social-container {
        padding: 0;
    }
}

@media screen and (max-width: 550px){
    .bottom-banner {
        padding: 28px 15px;
    }

    .bottom-banner ul li {
        display: block;
        margin: 10px 30px;
        line-height: 1.25rem;
    }
}

@media screen and (max-width: 400px){
    .footer {
        display: flex;
        flex-direction: column;
    }

    .socialize-title {
        display: none;
    }

    .footer-item input {
        width: 100%;
    }

    .footer-social-container {
        display: flex;
        justify-content: space-between;
        gap: 0 40px
    }

    .social-text {
        display: none;
    }
}

