*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-blue: rgba(0, 162, 225, 1);
    --primary-white: rgba(255, 255, 255, 1);
    --primary-black: rgba(0, 0, 0, 1);
    --border-color: rgba(206, 211, 216, 1);
    --transparent-text: rgba(255, 255, 255, 0.4);
    --secondary-blue: rgba(58, 82, 149, 1);
    --text-color: rgba(56, 56, 56, 1);
    --card-bg-color: rgba(246, 250, 253, 1);
}

html, body {
    margin: 0 auto;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--primary-white);
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

